<%- model_class = Offer -%>
<h1>Notatki</h1>
<p></p>
<% unless @comments.nil? or @comments.count < 1 %>
Znaleziono <%= @comments.count %>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th><%= sortable :comment, "Notatka" %></th>
	      <th><%= sortable :project_id, "Nazwa projektu" %></th>
	      <th><%= sortable :created_at, "Data utworzenia" %></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @comments.each do |c| %>
	      <tr>        
	        <td><%= c.comment %></td>
	        <td><%= link_to c.project.name, project_path(c.project) %></td>
	        <td><%= c.created_at.strftime("%d/%m/%Y") %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<% else %>
	Nie znaleziono rekorów
<% end %>

<div class="digg_pagination">
  <%= will_paginate @comments, :container => false if @comments.present? %>
</div>
