<%= simple_form_for(@admin_road_name, url: (@admin_road_name.new_record? ? admin_road_names_path : admin_road_name_path)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label => "Nazwa drogi lub lokalizacji" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
