<h1>Nazwy dróg i lokalizacji</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nazwa drogi lub lokalizacji</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_road_names.each do |admin_road_name| %>
      <tr>
        <td><%= admin_road_name.name %></td>
        <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_road_name_path(admin_road_name), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_road_name_path(admin_road_name),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="digg_pagination">
  <%= will_paginate @admin_road_names, :container => false if @admin_road_names.present? %>
</div>
<br>
<%= button_to "Dodaj nową drogę", new_admin_road_name_path, method: :"get", class: :"btn btn" %>

