<%= simple_form_for(@admin_company, url: (@admin_company.new_record? ? admin_companies_path : admin_company_path)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :phone  %>
    <%= f.input :email  %>
    <%= f.input :website  %>
    <%= f.input :street  %>
    <%= f.input :zip_code  %>
    <%= f.association :city, label: "Miasto" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
