<h1>Firmy</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Telefon</th>
      <th>Email</th>
      <th>Website</th>
      <th>Ulica</th>
      <th>Kod pocztowy</th>
      <th>Miasto</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_companies.each do |admin_company| %>
      <tr>
        <td><%= admin_company.name %></td>
        <td><%= admin_company.phone %></td>
        <td><%= admin_company.email %></td>
        <td><%= admin_company.website %></td>
        <td><%= admin_company.street %></td>
        <td><%= admin_company.zip_code %></td>
        <td><%= admin_company.city.name %></td>
        <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_company_path(admin_company), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_company_path(admin_company),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %></td>
    <% end %>
  </tbody>
</table>
<br>
<div class="digg_pagination">
  <%= will_paginate @admin_companies, :container => false if @admin_companies.present? %>
</div>
<br>
<%= button_to "Dodaj nową firmę", new_admin_company_path, method: :"get", class: :"btn btn" %>
