<%= simple_form_for(@admin_noise_barrier_type, url: (@admin_noise_barrier_type.new_record? ? admin_noise_barrier_types_path : admin_noise_barrier_type_path)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
