<h1>Rodzaje ekranów akustycznych</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Rodzaj ekranów</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_noise_barrier_types.each do |admin_noise_barrier_type| %>
      <tr>
        <td><%= admin_noise_barrier_type.name %></td>
        <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_noise_barrier_type_path(admin_noise_barrier_type), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_noise_barrier_type_path(admin_noise_barrier_type),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="digg_pagination">
  <%= will_paginate @admin_noise_barrier_types, :container => false if @admin_noise_barrier_types.present? %>
</div>
<br>
<%= button_to "Dodaj nowe rodzaj ekranów", new_admin_noise_barrier_type_path, method: :"get", class: :"btn btn" %>
