<%= simple_form_for(@admin_project, url:  (@admin_project.new_record? ? admin_projects_path : admin_project_path)) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name, label: "Nazwa projektu" %>
  </div>
  <%= f.input :tender_opening_date, as: :date, label: "Data otwarcia ofert" %>
  <%= f.input :lead_time, label: "Termin realizacji" %>
  <%= f.input :current, label: false, inline_label: "Aktualny" %>
  <%= f.association :company, label: "Generalny Wykonawca" %>
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Drogi</legend>
    <%= f.fields_for :roads do |builder| %>
      <%= builder.association :road_name, label: false %>
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">Ekrany</legend>
        <fieldset class="scheduler-border">
          <%= builder.fields_for :noise_barriers do |nb| %>
            <%= nb.input :quantity, label: "Ilość ekranów" %><br />
            <%= nb.association :noise_barrier_type, label: "Typ ekranów" %><br />
            <%= nb.association :companies, as: :collection_select, label: "Wykonawca ekranów" %><br />
          </fieldset>
          <%= link_to_add_fields "Dodaj ekran", builder, :noise_barriers  %>
      </fieldset>
      <%= link_to_add_fields "Dodaj drogę", f, :roads  %>
        <% end %>
    <% end %>
  </fieldset>
  <div class="form-inputs">
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
