<fieldset class="scheduler-border">
  <%= f.input :quantity, label: "Ilość ekranów" %><br />      
  <%= f.association :noise_barrier_type, label: "Typ ekranów" %><br />      
  <%= f.association :companies, as: :collection_select, label: "Wykonawca ekranów" %><br />      
	<%= link_to "usuń ekran", "#", class: "remove_fields" %>
	<%= f.input :_destroy, as: :boolean, as: :hidden  %>
</fieldset>