<fieldset> 
	<%= f.association :road_name, label: false %>
	<%= link_to "usuń drogę", "#", class: "remove_fields" %>
	<%= f.input :_destroy, as: :boolean, as: :hidden  %>
	<fieldset class="scheduler-border">
        <legend class="scheduler-border">Ekrany</legend>
	<%= link_to_add_fields "Dodaj ekran", f, :noise_barriers  %>
	</fieldset>
</fieldset>