<h1>Projekty</h1>

<table class="table table-striped">
    <thead>
      <tr>      
        <th>ID</th>
        <th>Nazwa projektu</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @admin_projects.each do |p| %>
        <tr>        
          <td><%= p.id %></td>
          <td><%= link_to p.name, admin_project_path(p) %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_admin_project_path(p), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        admin_project_path(p),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>                    
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
<div class="digg_pagination">
  <%= will_paginate @admin_projects, :container => false if @admin_projects.present? %>
</div>
<br>
<%= button_to "Dodaj nowy projekt", new_admin_project_path, method: :"get", class: :"btn btn" %>
