<%- model_class = Project -%>
<fieldset class="scheduler-border">
  <legend class="scheduler-border"><h3>Projekt</h3></legend>
    <table class="one">
      <tbody>
        <tr>
          <td class="a"><strong>Nazwa projektu:</strong></td>
          <td class="a"><%= @project.name %></td>
        </tr>
        <tr>
          <td class="a"><strong>Data otwarcia ofert:</strong></td>
          <td class="a"><%= @project.tender_opening_date.strftime("%m/%d/%Y") %></td>
        </tr>
        <tr>
          <td class="a"><strong>Data zakończenia:</strong></td>
          <td class="a"><%= @project.lead_time %></td>
        </tr>
        <tr>   
          <td class="a"><strong>Generalny Wykonawca:</strong></td>
          <td class="a"><%= @project.company.name %></td>
      </tbody>
    </table>
</fieldset>

<p></p>
<fieldset class="scheduler-border">
  <legend class="scheduler-border"><h3>Złożone oferty</h3></legend>
    <table class="one">
      <thead>
        <tr>
        	<th class="a">Numer oferty</th>
        	<th class="a">Data złożenia oferty</th>
        	<th class="a">Adresat oferty</th>
        </tr>
      </thead>
      <tbody>
      	<% @offers.each do |o| %>
      	<tr>
      		<td class="a"><%= o.offer_no %></td>
      		<td class="a"><%= o.offer_date.strftime("%d/%m/%Y") %></td>
      		<td class="a"><%= o.company.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</fieldset>

<p></p>
<fieldset class="scheduler-border">
  <legend class="scheduler-border"><h3>Drogi lub lokalizacje</h3></legend>
    <table class="one">
      <thead>
        <tr>
        	<th class="a">Nazwa drogi lub lokalizacji</th>
        </tr>
      </thead>
      <tbody>
    		<% @roads.each do |r| %>
      		<tr>
      			<td class="a"><%= r.road_name.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</fieldset>

<p></p>
<fieldset class="scheduler-border">
  <legend class="scheduler-border"><h3>Zestawienie ekranów</h3></legend>
    <table class="one">
      <thead>
        <tr>
        	<th class="a">Powierzchnia</th>
        	<th class="a">Typ ekranu</th>
        	<th class="a">Droga</th>
        	<th class="a">Wykonawca ekanów</th>
        </tr>
      </thead>
      <tbody>
    		<% @noisebarriers.each do |n| %>
    		<tr>
    			<td class="a"><%= n.quantity %> m2</td>
          <td class="a"><%= n.noise_barrier_type.name %></td>
          <td class="a"><%= n.road.road_name.name %></td>
          <td class="a"><%= n.companies.first.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</fieldset>

<p></p>
<fieldset class="scheduler-border">
  <legend class="scheduler-border"><h3>Notatki</h3></legend>
    <%= form_for @comment, url: comment_project_path, html: {class: "nifty_form"} do |com| %>
      <%= com.label "Dodaj nową notatkę" %>
      <%= com.text_area :comment, size: "120x3" %>
      </br>
      <%= com.submit "Dodaj" %>
    <% end %>
    <table class="one">
      <thead>
        <tr>
    			<th class="a">Data wpisu</th>
          <th class="a">Notatka</th>
        	<th class="a">Akcja</th>
        </tr>
      </thead>
      <tbody>
    		<% @comments.each do |c| %>
    		  <tr>
    			 <td class="a"><%= c.created_at.try(:strftime,"%d/%m/%Y") %></td>
           <td class="a"><%= c.comment %></td>
    			 <td class="a"><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            project_comment_delete_path(@project,c),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Czy na pewno chcesz skasować?')) },
                            :class => 'btn btn-mini btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</fieldset>
<%= link_to 'Cofnij', admin_projects_path %>