<%= simple_form_for(@admin_offer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :offer_no, :label => "Numer oferty" %>
  	<%= f.input :offer_date, as: :date, label: "Data wystawienia oferty" %>
  	<%= f.association :project, label: "Nazwa projektu" %>
  	<%= f.association :company, label: "Adresat oferty" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
