<h1>Oferty</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Numer oferty</th>
      <th>Data wystawienia oferty</th>
      <th>Nazwa projektu</th>
      <th>Adresat oferty</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @admin_offers.each do |admin_offer| %>
      <tr>
        <td><%= admin_offer.id %></td>
        <td><%= admin_offer.offer_no %></td>
        <td><%= admin_offer.offer_date.strftime("%d/%m/%Y") %></td>
        <td><%= admin_offer.project.name %></td>
        <td><%= admin_offer.company.name %></td>
        <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_offer_path(admin_offer), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_offer_path(admin_offer),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="digg_pagination">
  <%= will_paginate @admin_offers, :container => false if @admin_offers.present? %>
</div>
<br>
<%= button_to "Dodaj ofertę", new_admin_offer_path, method: :"get", class: :"btn btn" %>
