<%- model_class = Project -%>
<h1>Projekty</h1>
<p>
</p>
<% unless @projects.nil? or @projects.count < 1 %>
 <%= search_helper(@search) %><br>
 Znaleziono <%= @projects.count %>
 <table class="table table-striped">
    <thead>
      <tr>      
        <th><%= sortable :name, "Nazwa projektu" %></th>
        <th><%= sortable :tender_opening_date, "Data otwarcia ofert" %></th>
        <th><%= sortable :lead_time, "Termin realizacji" %></th>
        <th><%= sortable :company_id, "Generalny Wykonawca" %></th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |p| %>
        <tr>        
          <td><%= link_to p.name, project_path(p) %></td>
          <td><%= p.tender_opening_date.strftime("%m/%d/%Y") %></td>
          <td><%= p.lead_time %></td>
          <td><%= p.company.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  Nie znaleziono rekorów
<% end %>

<div class="digg_pagination">
  <%= will_paginate @projects, :container => false if @projects.present? %>
</div>