<h1>Projects#show_offers</h1>
<strong>Nazwa projektu: </strong><%= @project.name %><br>
 <table>
  <thead>
    <tr>
    	<th>Numer oferty</th>
    	<th>Data złożenia oferty</th>
    	<th>Adresat oferty</th>
    </tr>
  </thead>
  <tbody>
		<% @offers.each do |o| %>
		<tr>
			<td><%= o.offer_no %></td>
			<td><%= o.offer_date.strftime("%m/%d/%Y") %></td>
			<td><%= o.company.name %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>