<%- model_class = Company -%>
<h1>Firmy</h1>
<p>
</p>
 <% unless @companies.nil? or @companies.count < 1 %>
 Znaleziono <%= @companies.count %>
 <table class="table table-striped">
  <thead>
    <tr>      
      <th><%= sortable :name, "Nazwa firmy" %></th>
      <th><%= sortable :street, "Ulica" %></th>
      <th><%= sortable :zip_code, "Kod" %></th>
      <th><%= sortable :city_id, "Miasto" %></th>
      <th><%= sortable :phone, "Telefon" %></th>
      <th><%= sortable :email, "Email" %></th>
      <th><%= sortable :website, "Website" %></th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |c| %>
      <tr>        
        <td><%= c.name %></td>
        <td><%= c.street %></td>
        <td><%= c.zip_code %></td>
        <td><%= c.city.name %></td>
        <td><%= c.phone %></td>
        <td><%= c.email %></td>
        <td><%= c.website %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
Nie znaleziono rekorów
<% end %>

<div class="digg_pagination">
  <%= will_paginate @companies, :container => false if @companies.present?%>
</div>