<%= simple_form_for(@admin_city,url: (@admin_city.new_record? ? admin_cities_path : admin_city_path))  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
