<h1>Miasta</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Miasto</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_cities.each do |admin_city| %>
      <tr>
        <td><%= admin_city.name %></td>
        <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_city_path(admin_city), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_city_path(admin_city),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="digg_pagination">
  <%= will_paginate @admin_cities, :container => false if @admin_cities.present? %>
</div>
<br>
<%= button_to "Dodaj nowe miasto", new_admin_city_path, method: :"get", class: :"btn btn" %>
