<%= simple_form_for(@admin_road, url: (@admin_road.new_record? ? admin_roads_path : admin_road_path)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <%= f.association :road_name, label: "Nazwa" %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
