<h1>Listing admin_roads</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Nazwa</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_roads.each do |admin_road| %>
      <tr>
        <td><%= admin_road.id %></td>
        <td><%= admin_road.name %></td>
        <td><%= link_to 'Edit', edit_admin_road_path(admin_road) %></td>
        <td><%= link_to 'Destroy',admin_road_path(admin_road), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Road', new_admin_road_path %>
