<div class="nav-header">Wyszukiwanie</div>

	<%= form_for @search do |f| %>
		<div class="field">
			<%= f.label(:title, "Nazwa") %>
			<%= f.text_field :title %>
		</div>		
		<div class="selectpicker">
			<%= f.label(:road_id, "Miasto") %>
			<%= f.collection_select(:road_id, City.order(:name), :id, :name, {include_blank: true}, {class: 'selectpicker'}) %>			
		</div>	
		
		<br>
		<%= f.hidden_field :page, :value => "company" %>
		<%= f.submit "Szukaj", :class => "btn" %>
		
	<% end %>

