<div class="nav-header">Wyszukiwanie</div>

	<%= form_for @search do |f| %>
		<div class="field">
			<%= f.label(:title, "Zawartość notatki") %>
			<%= f.text_field :title %>
		</div>		
		
		<br>
		<%= f.hidden_field :page, :value => "comment" %>
		<%= f.submit "Szukaj", :class => "btn" %>
		
	<% end %>
