<div class="nav-header">Wyszukiwanie</div>

	<%= form_for @search do |f| %>
		<div class="field">
			<%= f.label(:title, "Nazwa projektu") %>
			<%= f.text_field :title %>
		</div>		
		<div class="selectpicker">
			<%= f.label(:gw_id, "Adresat oferty") %>
			<%= f.collection_select(:gw_id, Company.order(:name), :id, :name, {include_blank: true}, {class: 'selectpicker'}) %>			
		</div>
		
		<br>
		<%= f.hidden_field :page, :value => "offer" %>
		<%= f.submit "Szukaj", :class => "btn" %>
		
	<% end %>

