<div class="nav-header">Wyszukiwanie</div>

	<%= form_for @search do |f| %>
		<div class="field">
			<%= f.label(:title, "Nazwa") %>
			<%= f.text_field :title %>
		</div>	
		<div class="selectpicker">
			<%= f.label(:gw_id, "Generalny Wykonawca") %>
			<%= f.collection_select(:gw_id, Company.order(:name), :id, :name, {include_blank: true}, {class: 'selectpicker'}) %>			
		</div>		
		<div class="selectpicker">
			<%= f.label(:road_id, "Droga") %>
			<%= f.collection_select(:road_id, RoadName.order(:name), :id, :name, {include_blank: true}, {class: 'selectpicker'}) %>			
		</div>	
		<div class="selectpicker">
			<%= f.label(:noise_barrier_type_id, "Rodzaj ekranów") %>
			<%= f.collection_select(:noise_barrier_type_id, NoiseBarrierType.order(:name), :id, :name, {include_blank: true}, {class: 'selectpicker'}) %>			
		</div>	
		<div class="selectpicker">
			<%= f.label(:noise_barrier_contractor_id, "Wykonawca ekranów") %>
			<%= f.collection_select(:noise_barrier_contractor_id, Company.order(:name), :id, :name, {include_blank: true}, {class: 'selectpicker'}) %>			
		</div>	
		
		<br>		
		<%= f.hidden_field :page, :value => "project" %>
		<%= f.submit "Szukaj", :class => "btn" %>
		
	<% end %>

