<%- model_class = Offer -%>
<h1>Oferty</h1>
<p></p>
<% unless @offers.nil? or @offers.count < 1 %>
 Znaleziono <%= @offers.count %>
 <table class="table table-striped">
  <thead>
    <tr>
      
      <th><%= sortable :offer_no, "Numer oferty" %></th>
      <th><%= sortable :offer_date, "Data wystawienia oferty" %></th>
      <th><%= sortable :project_id, "Nazwa projektu" %></th>
      <th><%= sortable :company_id, "Adresat oferty" %></th>
    </tr>
  </thead>
  <tbody>
    <% @offers.each do |p| %>
      <tr>        
        <td><%= p.offer_no %></td>
        <td><%= p.offer_date.strftime("%d/%m/%Y") %></td>
        <td><%= p.project.name %></td>
        <td><%= p.company.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
Nie znaleziono rekorów
<% end %>

<div class="digg_pagination">
  <%= will_paginate @offers, :container => false if @offers.present? %>
</div>
