<%= simple_form_for(@user, url: (@user.new_record? ? admin_users_path : admin_user_path)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
        <%= f.input :email, label: "E-mail", disabled: (@user.new_record? ? false : true)%>
        <%  if  @user.new_record? %>
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
        <% end %>
        <%= f.input :is_admin  %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
