<h1>Użytkownicy</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>e-mail</th>
    <th>Czy jest administratorem</th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |p| %>
      <tr>
        <td><%= p.id %></td>
        <td><%= p.email %></td>
        <td><%= "Tak" if p.is_admin? %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_user_path(p), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_user_path(p),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<div class="digg_pagination">
  <%= will_paginate @users, :container => false if @users.present? %>
</div>
<br>
<%= button_to "Dodaj użytkownika", new_admin_user_path, method: :"get", class: :"btn btn" %>
