<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Bid" %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  <%#= javascript_include_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<div class="navbar navbar-fluid-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Projekty</a>

      <div class="container-fluid nav-collapse">
        <ul class="nav">
          <% if current_user && current_user.is_admin && admin_namespace?.! %>
          <li><%= link_to "Panel administratora", admin_index_path %></li>
          <% end %>
          <% if admin_namespace? %>
              <li class="divider-vertical"></li>
              <li><%= link_to "Użytkownicy", admin_users_path %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Projekty", admin_projects_path %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Drogi", admin_road_names_path %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Oferty", admin_offers_path %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Firmy", admin_companies_path %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Miasta", admin_cities_path %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Rodzaje ekranów", admin_noise_barrier_types_path %></li>
              <li class="divider-vertical"></li>
        <% end %>
        </ul>


        <div class="pull-right">
          <ul class="nav">
            <% if user_signed_in? %>
                <li><%= link_to current_user.email, edit_user_registration_path, :title => "Edytuj profil" %></li>
                <li><%= link_to "Wyloguj", destroy_user_session_path, :method => :delete, :class => "label label-important" %></li>
            <% else %>
                <li><%= link_to "Logowanie", new_user_session_path, :method => :get %></li>
            <% end %>
          </ul>
        </div>


      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">

      <% unless admin_namespace? %>
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Opcje</li>
              <li><%= link_to "Projekty", projects_path %></li>
              <li><%= link_to "Firmy", companies_path %></li>
              <li><%= link_to "Oferty", offers_path %></li>
              <li><%= link_to "Notatki", comments_path %></li>
            </ul>
          </div>
          <!--/.well -->
          <% if @search %>
              <div class="well sidebar-nav">

                <% if @search[:page] == "project" %>
                    <%= render partial: "searches/project", locals: {search: @search} %>
                <% else %>
                    <% if @search[:page] == "company" %>
                        <%= render "searches/company", locals: {search: @search} %>
                    <% else %>
                        <% if @search[:page] == "offer" %>
                            <%= render "searches/offer", locals: {search: @search} %>
                        <% else %>
                          <% if @search[:page] == "comment" %>
                            <%= render "searches/comment", locals: {search: @search} %>
                          <% end %>
                        <% end %>
                    <% end %>
                <% end %>


              </div>
              <!--/.well -->
          <% end %>
      <% end %>
    </div>
    <!--/span-->
    <div class="span9">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
  </div>
  <!--/row-->

  <footer>
    <p>&copy; s8226@pjwstk.edu.pl 2014</p>
  </footer>

</div>
<!-- /container -->

</body>
</html>
